<p>
  <%= f.label :content, "Topic"%><br />
  <%= f.text_area :content, :rows => 3%><br />
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove Topic" %>
</p>

<% f.fields_for :subtopics do |builder| %>
  <%= render 'subtopic_fields', :f => builder%>
<% end %>
