<% title "Evaluation" %>

<p>
  <strong>Name:</strong>
  <%= @evaluation.name %>
</p>

<ol>
  <% for topic in @evaluation.topics %>
  <li><%=h topic.content %></li>
    <ul>
      <% for subtopic in topic.subtopics %>
        <li><%=h subtopic.content %></li>
            <ul>
             <% for rating in subtopic.ratings %>
            <li><%=h rating.comments %></li>
            <% end %>
            </ul>
      <% end %>
    </ul>
  <% end %>
  
</ol>

<p>
  <%= link_to "Edit", edit_evaluation_path(@evaluation) %> |
  <%= link_to "Destroy", @evaluation, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", evaluations_path %>
</p>
